.about {
  padding: 35px 30px;
}

.about__title {
  margin: 0px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: @font-color-section-title;
}

.about__list {
  margin: 0px;
  padding: 0px;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  list-style: none;
}

.about__item {
  position: relative;
  display: block;
  margin: 0px;
  padding-top: 85px;
}

.about__svg {
  position: absolute;
  top: 30px;
  left: 8px;
  margin: 0;
  padding: 0;
  color: #63d1bb;
  fill: #63d1bb;
}
