.comments {
  position: relative;
  padding: 56px 0;
  width: auto;

  &::after {
    content: "";
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 100%;
    height: 7px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: repeat-x;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    margin-bottom: 75px;
    width: auto;
    min-height: 457px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    &::after {
      bottom: -85px;
      height: 17px;
    }

    @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    background-image: none;

    &::after {
      height: 0;
    }
  }
}

.comments__wrapper {
  position: relative;
  margin: 0 auto;
  width: 82%;

  @media (min-width: @tablet-width) {
    width: 87%;
    max-width: 1000px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
    width: 91%;
    max-width: 1050px;
    min-height: 457px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    &::after {
      content: "";
      position: absolute;
      bottom: -90px;
      right: 0;
      width: 100%;
      height: 23px;

      background-image: url("../img/bg-zigzag-line.svg");
      background-size: contain;
      background-repeat: repeat-x;
    }

    @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
      background-image: url("../img/review@2x.jpg");
    }
  }
}

.comments__title {
  margin: 0;
  padding-bottom: 28px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: @font-color-section-title;

  @media (min-width: @tablet-width) {
    padding-top: 73px;
    padding-bottom: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 80px;

    font-size: 53px;
    line-height: 57px;
  }
}

.comments__list {
  margin: 0;
  padding: 0;

  line-height: 25px;
  list-style: none;
}

.comments__blockquote,
.comments__text {
  margin: 0;

  font-size: 15px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.comments__author {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 36px;

  font-size: 17px;
  line-height: 24px;
  color: @font-color-section-title;

  @media (min-width: @tablet-width) {
    padding-top: 58px;

    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 35px;
  }
}

.comments__author-name {
  font-style: normal;
  font-weight: 700;
}

.comments__author-contact {
  font-style: normal;
}

.comments__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 80px;
    right: 0;
    padding: 15px;

    width: 175px;
  }
}
