.comments {
  padding: 35px 30px;
}

.comments__title {
  margin: 0px;
  padding-bottom: 38px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: @font-color-section-title;
}

.comments__list {
  margin: 0px;
  padding: 0px;

  line-height: 30px;
  list-style: none;
}

.comments__blockquote {
  margin: 0px;
}

.comments__text {
  margin: 0px;
}

.comments__author {
  padding-top: 40px;
  padding-bottom: 36px;

  font-size: 17px;
  line-height: 24px;
  color: @font-color-section-title;
}

.comments__author-name {
  font-style: normal;
  font-weight: 700;
}

.comments__author-contact {
  font-style: normal;
}
