.contacts {
  position: relative;
  padding: 38px 0;
  margin: 0 auto;
  width: auto;
}

.contacts__wrapper {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    margin-top: 51px;
    min-height: 457px;

    &::after {
      top: 80px;
      left: 50px;
    }
  }
}

.contacts__info-wrapper,
.contacts__button-wrapper {
  padding: 0s 20px;
  margin: 0 auto;
  width: 82%;

  @media (min-width: @tablet-width) {
    padding: 106px 0 35px 0;
    width: 87%;
    max-width: 1000px;
  }

  @media (min-width: @desktop-width) {
    padding: 81px 0 35px 0;
    width: 91%;
    max-width: 1150px;
  }
}

.contacts__info-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    width: 100%;
    height: 7px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: repeat-x;
  }

  @media (min-width: @tablet-width) {

    min-width: 768px;

    &::before {
      height: 17px;
      margin-bottom: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 80px;
      right: 0;

      width: 45px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-size: contain;
    }
  }
}

.contacts__button-wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 185px;
    width: 87%;
    max-width: 1000px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 106px 0 35px 0;
  }
}

.contacts__title {
  margin: 0;
  padding-bottom: 42px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: @font-color-section-title;

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;

  line-height: 30px;

  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.contacts__item {
  display: flex;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    width: 334px;

    &--address {
      width: 300px;
    }
  }
}

.contacts__address,
.contacts__link {
  margin-left: 32px;

  font-style: normal;
  color: @font-color-base;
}

.contacts__link {
  text-decoration: none;

  border-bottom: 1px solid @border-color-input--hover;
}

.contacts__map {
  min-height: 457px;

  font-size: 0;

  background-color: @white;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    background-image: url("../img/map-tablet@1x.jpg");
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 85px;
    right: 50px;
    width: 525px;
    height: 457px;

    background-image: url("../img/map-desktop@1x.jpg");
  }
}

.contacts__button {
  margin-top: 39px;
  margin-bottom: 39px;
  padding: 20px 60px;
  width: 100%;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 430px;
    left: 260px;
    padding: 20px 40px;
    width: 230px;
  }
}
