.contacts__info-wrapper, .contacts__button-wrapper {
  padding: 35px 30px;
}
.contacts__title {
  margin: 0px;
  padding-bottom: 42px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: @font-color-section-title;
}

.contacts__list {
  margin: 0px;
  padding: 0px;

  line-height: 30px;
  list-style: none;
}

.contacts__item {
  display: flex;
  padding-bottom: 39px;
}

.contacts__address, .contacts__link {
  margin-left: 32px;
  font-style: normal;
}

.contacts__map {
  width: 320px;
  height: 457px;
  background-image: url(../../img/map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: 332px 457px;
}

.contacts__button {
  margin-top: 39px;
  margin-bottom: 39px;
  padding: 20px 60px;
}
