.copyright {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 34px;
}

.copyright__text {
  margin-right: 30px;
  padding-top: 5px;

  vertical-align: middle;
}

.copyright__link {
  fill: @green-primary;
}
