.fieldset {
  position: relative;
  margin: 0 auto;
  padding: 30px 0;
  width: 82%;
  min-height: 143px;

  border: none;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 87%;
    max-width: 1000px;
  }

  &--text {
    padding-top: 0;
    min-height: 105px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 62px;
    right: 0;
    height: 1px;
    background-color: #62d1ba;

    @media (min-width: @tablet-width) {
      height: 0;
    }

    @media (min-width: @desktop-width) {
      height: 0;
    }
  }
}

.fieldset__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    margin-left: 167px;

    &--tablet {
      display: flex;
      flex-wrap: wrap;
      margin-left: 167px;
      min-height: 304px;
    }
  }

  @media (min-width: @desktop-width) {
    &--tablet {
      min-height: 228px;
    }
  }
}

.fieldset__item {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    min-width: 220px;

    &--tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: @desktop-width) {
    min-width: 240px;
  }
}

.fieldset__label {
  position: relative;
  display: block;
  padding: 20px 0 20px 65px;
  min-height: 40px;

  font-size: 13px;
  font-weight: 700;
  line-height: 18px;

  cursor: pointer;

  &--text {
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    min-height: 54px;

    font-size: 19px;

    &--text {
      padding: 15px 5px 5px 0;
    }
  }
}

.fieldset__color {
  @media (min-width: @tablet-width) {
    background-color: @gray-secondary;
  }

  @media (min-width: @desktop-width) {
    background-color: @gray-secondary;
  }
}
