.fieldset {
  position: relative;
  margin: 0 auto;
  padding: 30px 0;
  width: 82%;
  min-height: 143px;

  border: none;

  &--color {
    padding: 26px 0 0;
    @media (min-width: @tablet-width) {
      width: 1050px;
    }
  }

  &--text {
    padding-top: 0;
    min-height: 105px;

    @media (min-width: @tablet-width) {
      padding: 24px 0;
      min-height: 52px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 62px;
    right: 0;
    height: 1px;
    background-color: #62d1ba;

    @media (min-width: @tablet-width) {
      height: 0;
    }

    @media (min-width: @desktop-width) {
      height: 0;
    }
  }

  @media (min-width: @tablet-width) {
    width: 87%;
    max-width: 1000px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    max-width: 1150px;

    &--color {
      padding-left: 175px;
      width: 1050px;
    }
  }
}

.fieldset__wrapper {
  @media (min-width: @tablet-width) {
    padding: 26px 0;
    min-height: 228px;
    background-color: @gray-secondary;
  }
}

.fieldset__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    margin-left: 167px;

    &--color {
      display: flex;
      flex-wrap: wrap;
      margin-left: 167px;
    }
  }

  @media (min-width: @desktop-width) {
    &--color {
      justify-content: space-between;
      /*min-height: 228px;*/
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.fieldset__item {
  height: 40px;
  margin-bottom: 25px;

  &--text {
    height: auto;
  }

  @media (min-width: @tablet-width) {
    height: 52px;
    min-width: 220px;

    &--text {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: @desktop-width) {
    min-width: 240px;
  }
}

.fieldset__label {
  position: relative;
  display: block;
  padding: 20px 0 20px 65px;
  min-height: 40px;

  font-size: 13px;
  font-weight: 700;
  line-height: 18px;

  cursor: pointer;

  &--text {
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    min-height: 54px;

    font-size: 19px;

    &--text {
      padding: 15px 5px 5px 0;
    }
  }
}
