.input-textarea {
  margin-top: 5px;
  padding: 13px;
  width: 100%;
  min-height: 142px;

  font-size: 17px;
  line-height: 18px;
  color: @gray-primary;

  border: 2px solid @border-color-input;

  outline: none;

  &::placeholder {
    opacity: 0.3;
  }

  &:focus,
  &:hover {
    border: 2px solid @border-color-input--hover;
  }

  @media (min-width: @tablet-width) {
    margin-top: 15px;
    margin-left: 167px;
    padding-left: 18px;

    font-size: 19px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}
