.input-textarea {
  padding: 13px;
  width: 260px;
  min-height: 142px;

  font-size: 17px;
  line-height: 18px;

  border: 1px solid @border-color-input;

  &::placeholder {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-left: 167px;
    padding-left: 18px;
    width: 100%;

    font-size: 19px;
  }

  /*@media (min-width: @desktop-width) {
    margin-left: 25px;
    padding-left: 18px;
    width: 100%;

    font-size: 19px;
  }*/
}
