.legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: @font-color-legend;
  text-transform: uppercase;

  &--color {
    padding-top: 0;
  }

  &--name {
    padding-top: 11px;
  }

  &--textarea {
    padding-top: 6px;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 45px;
    left: 0;

    &--phone {
      top: 35px;
    }

    &--mail {
      top: 9px;
    }

    &--textarea {
      top: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    left: -110px;

    &--color {
      left: 63px;
    }

    &--name {
      top: 55px;
    }

    &--phone {
      top: 45px;
    }

    &--mail {
      top: 25px;
    }
  }
}
