.legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: @font-color-legend;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 50px;
    left: 0;

    &--phone {
      top: 40px;
    }
  }

  @media (min-width: @desktop-width) {
    left: -110px;

    &--color {
      left: 70px;
    }

    &--phone {
      top: 17px;
    }
  }
}
