.making-process {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.making-process__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 260px;

  border: 1px solid @bg-color-separate;

  &:focus,
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  @media (min-width: @tablet-width) {
    width: 668px;
    min-height: 743px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    /*flex-wrap: wrap;*/
    width: 1050px;
    min-height: 455px;
  }
}

.making-process__wrapper-disc {
  @media (min-width: @desktop-width) {
    width: 360px;
  }
}

.making-process__content {
  position: relative;

  @media (min-width: @desktop-width) {
    flex-grow: 1;
  }
}

.making-process__play-button {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  width: 101px;
  height: 77px;

  border: 0;
  background-image: url("../../img/icon-play.svg");
  background-color: transparent;

  cursor: pointer;
}

.making-process__title {
  position: relative;
  margin: 0;
  padding: 30px 42px 30px 92px;

  font-size: 17px;
  font-weight: 700;
  color: @font-color-heading;

  &::before {
    content: "";
    top: 50%;
    left: 33px;

    transform: translateY(-50%);

    width: 32px;
    height: 22px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-size: 32px 22px;
  }

  @media (min-width: @tablet-width) {
    padding: 43px 0 0 107px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 41px 0 80px;
  }
}

.making-process__discription {
  padding: 34px 30px 34px 35px;

  @media (min-width: @tablet-width) {
    order: 3;
    padding: 40px 42px 46px 42px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
  }
}

.making-process__text {
  margin: 0;
  padding-bottom: 30px;
  padding-right: 3px;

  font-size: 13px;
}

.making-process__button {
  padding: 17px 20px;
  width: 192px;

  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 584px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
  }
}
