.making-process {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.making-process__wrapper {
  box-sizing: border-box;

  width: 260px;

  border: 1px solid @bg-color-separate;
}

.making-process__header {
  min-height: 96px;
}

.making-process__title {
  margin: 0;
  padding: 30px 42px 30px 92px;

  font-size: 17px;
  font-weight: 700;
  color: @font-color-heading;
}

.making-process__discription {
  padding: 34px 30px 34px 35px;
}

.making-process__text {
  margin: 0;
  padding-bottom: 30px;
  padding-right: 3px;

  font-size: 13px;
}

.making-process__button {
  padding: 20px 30px;
  width: 192px;

  line-height: 20px;
}
