.navigation {
  width: auto;
  min-height: 79px;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: auto;
  }
}

.navigation__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;

  width: auto;
  min-height: 79px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: -49px;

    width: 87%;/*668/768=~87%*/
    max-width: 1000px;
    min-height: 89px;
  }

  @media (min-width: @desktop-width) {
    width: 91%;
    max-width: 1150px;
  }
}

.navigation__wrapper-top {
  display: flex;

  border-bottom: 1px solid @bg-color-separate;

  @media (min-width: @desktop-width) {
    border: none;
    order: 2;
  }
}

.navigation__toggle {
  display: block;
  padding: 0;
  margin-left: auto;
  margin-right: 30px;

  align-self: center;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto;
  border: none;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.navigation--off .navigation__toggle {
  background-image: url("../img/icon-menu-open.svg");
}

.navigation--on .navigation__toggle {
  background-image: url("../img/icon-menu-close.svg");
}

.navigation--off .site-nav__item {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.navigation--off .user-nav__item {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.navigation--nojs .navigation__toggle {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.navigation--nojs .site-nav__item {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.navigation--nojs .user-nav__item {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.navigation__logo {
  padding: 19px 0 19px 37%;

  align-self: center;

  @media (min-width: @tablet-width) {
    padding: 19px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__text {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    order: 4;
    margin: 0;
    padding-top: 25px;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    order: 5;
  }
}
