.order__fieldset-wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.order__text {
  display: block;
  margin: 0 auto;
  padding-bottom: 25px;
  width: 82%;

  font-size: 13px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 87%;
    max-width: 1000px;

    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    padding-left: 167px;
  }
}

.order__fieldset-wrapper svg {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.2;
}

.order__wrapper-buttom {
  margin: 0 auto;
  width: 82%;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 87%;
    max-width: 1000px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.order__button {
  padding: 20px 30px;
  width: 100%;

  background-color: transparent;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    order: 1;
    width: 230px;
  }
}

.order__required {
  display: block;
  margin-bottom: 30px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    order: 2;
    margin: 0;
    padding: 25px 0;
  }

  @media (min-width: @desktop-width) {
    order: 2;
  }
}
