.page-footer {
  width: auto;
  background-color: @bg-color-footer;
}

.page-footer__wrapper {
  margin: 0 auto;
  min-height: 160px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 28px 0;

    width: 87%;
    max-width: 1000px;
    min-height: 143px;
  }

  @media (min-width: @desktop-width) {
    width: 91%;
    max-width: 1150px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin-right: 100px;
    padding: 30px 0;

    &:focus,
    &:hover {
      path {
        fill: @green-secondary--hover;
      }
    }

    &:active {
      path {
        fill: @green-secondary--hover;
        opacity: 0.3;
      }
    }
  }
}
