.popup {
  margin: 0 auto;
  padding: 33px 30px 20px;
  min-height: 336px;
  width: 320px;

  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding: 79px 30px 20px;
    width: 566px;
  }
}

.popup__wraper {
  margin: auto;
}

.popup__title {
  width: 60%;
  margin: 0 auto;
  padding: 0;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: @black;
  text-align: center;
  text-transform: uppercase;
}

.popup__paragraph {
  margin: 12px 0 23px;
  padding: 0;

  line-height: 30px;
  color: @black;
  text-align: center;
  font-style: normal;
}

.popup__form-wrapper {
  display: flex;
  margin: auto;
  margin-top: 26px;
  margin-bottom: 30px;
  padding: 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 16px;

  border: 0;

  @media (min-width: @tablet-width) {
    margin: 26px auto 30px auto;
    width: 350px;
  }
}

.popup__label {
  margin-right: 7px;
  padding: 15px 0;
  width: 82px;
  height: 52px;
  min-height: 33px;

  text-align: center;

  border: 2px solid @bg-color-separate;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 112px;
  }
}

.popup__label:last-child {
  margin-right: 0;
}

.popup__input:checked + .popup__label {
  border: 2px solid @green-primary;
}

.popup__button {
  display: block;
  margin: auto;

  line-height: 17px;
  color: @white;
  text-transform: uppercase;

  background-color: @green-primary;
  border: none;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 350px;
  }
}
