.product-week {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  margin: 0 auto;
  width: auto;

  &::after {
    content: "";
    position: absolute;
    top: 105%;
    width: 100%;
    height: 7px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: repeat-x;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;

    &::after {
      top: 105%;
      height: 17px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 80px;

    &::after {
      height: 0;
    }
  }
}

.product-week__wrapper {
  position: relative;
  width: 82%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 87%;
    max-width: 1000px;
  }

  @media (min-width: @desktop-width) {
    width: 91%;
    max-width: 1050px;

    &::after {
      content: "";
      position: absolute;
      top: 112%;
      width: 100%;
      height: 23px;

      background-image: url("../img/bg-zigzag-line.svg");
      background-size: contain;
      background-repeat: repeat-x;
    }
  }
}

.product-week__wrapper-head {
  @media (min-width: @tablet-width) {
    display: flex;
    padding-top: 17px;
    padding-bottom: 40px;
    width: 100%;
  }
}

.product-week__header {
  margin: 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @font-color-legend;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: block;
    margin-left: auto;
    padding-right: 26px;
    width: 100px;

    line-height: 20px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 47px;
    padding-top: 10px;
    order: 1;
  }
}

.product-week__title {
  margin: 0;
  padding-bottom: 5px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: @font-color-section-title;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    order: 2;
    z-index: 1;
    padding-left: 25px;

    font-size: 53px;
    line-height: 57px;
  }
}

.product-week__wrapper-content {
  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
  }
}

.product-week__wrapper-description {
  width: auto;

  @media (min-width: @tablet-width) {
    margin-right: 6%;
    width: 43%;
    min-height: 404px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 32%;
    min-height: 461px;
  }
}

.product-week__description {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    padding: 0 5px 30px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 5px 20px 0;
  }
}

.product-week__table {
  margin-bottom: 30px;
}

.product-week__price {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  @media (min-width: @desktop-width) {
    padding-top: 80px;
  }
}

.product-week__button {
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 292px;
  }
}

.product-week__image {
  width: 100%;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    height: 404px;
    width: auto;
  }

  @media (min-width: @desktop-width) {
    margin-top: -160px;
    width: auto;
    height: 636px;
  }
}

.week-goods__image {
  width: 100%;
  height: auto;
}
