.radio+.fieldset__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
  box-sizing: border-box;

  width: 40px;
  height: 40px;

  border: 2px solid #444;
  border-radius: 50%;
  background-clip: content-box;
  padding: 10px;
}

.radio:checked+.fieldset__label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  margin: 0;
  padding: 0;

  width: 16px;
  height: 16px;

  background-color: #63d1bb;
  border-radius: 50%;
}
