.radio + .fieldset__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;

  transform: translate(-50%, -50%);

  width: 40px;
  height: 40px;

  border: 2px solid @font-color-base;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    left: 30px;
    width: 54px;
    height: 54px;
  }

  @media (min-width: @desktop-width) {
    left: 30px;
  }
}

.radio:checked + .fieldset__label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;

  transform: translate(-50%, -50%);

  width: 16px;
  height: 16px;

  background-color: @green-primary;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    left: 6%;
    width: 22px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    left: 3%;
  }
}
