.site-nav {
  display: flex;
  flex-direction: column;

  font-size: 17px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    order: 3;
    padding-top: 15px;

    width: 300px;

    font-size: 15px;

    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    padding: 0;
    order: 1;
    z-index: 1;
    width: 400px;
  }
}

.site-nav a[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-nav__item {
  @media (min-width: @desktop-width) {
    padding: 0;

    &--catalog {
      z-index: 1;
      min-width: 180px;

      border-right: 1px solid @bg-color-separate;
    }

    &--order {
      padding-left: 50px;
      width: 220px;
    }
  }
}

.site-nav__link {
  display: block;
  position: relative;
  padding: 27px 27px 27px 76px;
  width: 100%;

  color: @black;
  text-decoration: none;

  border-bottom: 1px solid @bg-color-separate;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding: 27px 0;
    order: 2;
    border: none;
  }
}
