.slider__buttons {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 38px;
  border-left: 1px solid @border-color-button;
}

.slider__button {
  box-sizing: border-box;
  width: 130px;
  min-height: 52px;

  background-color: transparent;
  border: none;
  border-top: 1px solid @border-color-button;
  border-bottom: 1px solid @border-color-button;
  border-right: 1px solid @border-color-button;
}
