.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 28px;

  border-bottom: 1px solid @bg-color-separate;

  list-style: none;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.social__item {
  height: 28px;

  &:not(:last-child) {
    margin-right: 41px;
  }

  &:focus .social__svg,
  &:hover .social__svg {
    fill: @green-secondary--hover;
  }

  &:active .social__svg {
    fill: @green-secondary--hover;
    opacity: 0.3;
  }
}
