.stock-nav {
  display: none;

  font-size: 17px;
  font-weight: 700;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    order: 4;
    padding-top: 15px;
    z-index: 1;

    width: 334px;

    font-size: 15px;

    border: none;
  }
}

.stock-nav a[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.stock-nav__item:nth-child(2n) {
  padding-left: 60px;
}

.stock-nav__link {
  display: block;
  position: relative;
  padding: 27px 27px 27px 76px;
  width: 100%;

  color: @black;
  text-decoration: none;

  border-bottom: 1px solid @bg-color-separate;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
  }
}
