.user-nav {
  position: relative;
  display: flex;
  flex-direction: column;

  font-size: 17px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 2;
    margin-left: 200px;

    width: 348px;

    background-color: @bg-color-body;
  }

  @media (min-width: @desktop-width) {
    order: 3;
    margin: 0;
  }
}

.user-nav__svg {
  position: absolute;
  top: 30px;
  left: 37px;

  fill: @black;

  opacity: 0.2;

  @media (min-width: @tablet-width) {
    top: 35px;

    &--search {
      left: 40%;
    }
  }
}

.user-nav__item {
  display: block;
  position: relative;

  border-bottom: 1px solid @bg-color-separate;

  &:hover a,
  &:focus a {
    opacity: 0.6;
  }

  &:focus .user-nav__svg,
  &:hover .user-nav__svg {
    fill: @green-primary;

    opacity: 1;
  }

  &:active a {
    opacity: 0.3;
    fill: @green-primary;
  }

  &:active .user-nav__svg {
    opacity: 0.3;
    fill: @green-primary;
  }

  @media (min-width: @tablet-width) {
    &--search {
      border: none;
      border-left: 1px solid @bg-color-separate;
    }

    &--cart {
      border: none;
      border-left: 1px solid @bg-color-separate;
    }
  }
}

.user-nav__link {
  display: block;
  position: relative;
  padding: 27px 27px 27px 76px;
  width: 100%;

  color: @black;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    &--search {
      padding: 33px 0;
      width: 80px;

      font-size: 0;
      text-align: center;
    }

    &--cart {
      padding: 33px 0 33px 83px;
    }
  }
}
